/*
GERAL
*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	transition: margin-left .5s;
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

h1, h2, h3 {
	margin: 0;
	font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.botao {
	color: #f1f1f1;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #8f3faf;
	font-size: 0.9em;
	border-radius: 3px;
}

/*
NAVEGAÇÂO
*/

#nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);;
    overflow-x: hidden;
    padding-top: 60px;
	transition: 0.5s;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#nav .btnFechar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(212, 18, 18);;
    display: block;
    transition: 0.3s;
}

#navButton {
	padding: 10px;
	font-size: 36px;
    cursor: pointer;
    color: white;
    position: fixed;
}

/*
CABEÇALHO
*/

/*header {
	background-image: url('../img/fundo.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #f1f1f1;
	
}*/

header {
	background-color: rgb(143, 151, 151);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}

header a {
	padding: 10px;
	color: rgb(212, 18, 18);
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

header h1 {
	color: white;
}

header .botao {
	background-color: rgb(212, 18, 18);
}

/*
SOBRE
*/

#sobre {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px 20px;
	background-color: rgb(212, 18, 18);
	color: #f1f1f1;
}

#sobre p {
	margin-bottom: 2.5em;
	max-width: 1000px;
}

#sobre .botao {
	background-color: #f1f1f1;
	color: #4d4d4d;
}

/*
INFORMAÇÕES
*/

#informacoes {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#informacoes section {
	margin-right: 50px;
	margin-top: 15px;
	color: white;
	font-size: 1.3em;
	margin-left: 20px;
}

#informacoes .formacoes {
	width: 450px;
}

#informacoes .skills {
	width: 300px;
}

/*
darkviolet
goldenrod
*/
#informacoes h2 {
	color: goldenrod;
}

#informacoes ul {
	display: block;
    margin-inline-start: 2.3em;
    margin-inline-end: 1em;
    padding-inline-start: 10px;
	list-style-type: circle;
}

#informacoes ul li {
	margin-top: 1em;
	color: black;
}

/*
PORTFÓLIO
*/

#projetos {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#projetos div {
	width: 550px;
	height: 300px;
	background-color: floralwhite;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: 2rem;
}

#projetos div h3 {
	margin-top: 146px;
}

#projetos h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

#projetos img {
	width: 100%;
}

/*
CONTATO
*/

#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}

/*
FOOTER
*/

footer {
	text-align: center;
	padding: 10px;
	background-color: #4d4d4d;
	color: #f1f1f1;
}

footer ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

a {
	color: darkcyan;
}

a:link{ 
	text-decoration: none;
}

#topo {
	color: white;
}


/*
MEDIA QUERIES
*/

/* Corrigir */
@media screen and (min-width: 768px) {
	/* 
	Herdas as outras propriedades.
	NAVEGAÇÃO
	*/
	nav {
		flex-direction: row;
		justify-content: space-around;
	}
	
	nav ul {
		flex-direction: row;
		width: 70%;
	}
	
	/*
	CABEÇALHO
	*/

	header {
		height: 600px;
		height: 60vh;
		justify-content: center;
	}

	/*
	SOBRE
	*/

	#sobre {
		height: 250px;
		height: 30vh;
		justify-content: center;
		/*Se a tela for maior ele expandi, se diminuir ele expandi até o limite definido. */
		min-height: 250px;
	}

	/*
	Skills
	*/

	#skills {
		flex-direction:  row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1500px;
		margin: 0 auto;
	}

	#skills h2 {
		text-align: center;
		width: 100%;
	}

	#skills div {
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}

	#imgCoracao {
		margin-top: 90px;
	}

	/*
	PORTFÓLIO
	*/

	#projetos {
		flex-direction: row;
		/*Quebra de linhas. */
		flex-wrap: wrap;
	}

	#projetos h2 {
		width: 100%;
		text-align: center;
	}

	#projetos h3 {
		width: 100%;
		text-align: center;
	}

	#projetos img {
		margin-left: 50px;
		padding: 5px;
		width: 20%;
	}

	/*
	CONTATO
	*/

	#contato {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 500px;
		margin: 0 auto;
	}

	#contato h2,
	#contato p {
		width: 100%;
	}
}