/*
GERAL
*/
body {
  margin: 0;
  font-family: "Quattrocento", serif;
  transition: margin-left 0.5s;
  transition-property: margin-left;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
}

h2 {
  color: rgb(143, 151, 151);
}

.botao {
  color: #f1f1f1;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #8f3faf;
  font-size: 0.9em;
  border-radius: 3px;
}

/*
NAVEGAÇÂO
*/

#nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

#nav .btnFechar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(212, 18, 18);
  display: block;
  transition: 0.3s;
}

#navButton {
  padding: 10px;
  font-size: 36px;
  cursor: pointer;
  color: black;
  position: fixed;
}

/*
CABEÇALHO
*/

header {
  background-color: rgb(143, 151, 151);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 500px;
}

header a {
  padding: 10px;
  color: rgb(212, 18, 18);
  transition: all 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

header h1 {
  color: white;
  font-size: 90px;
}

header .botao {
  background-color: rgb(212, 18, 18);
}

.social-links a {
  text-decoration: none;
  color: rgb(47, 47, 47);
  font-size: 2rem;
  padding: 0px 8px;
}

.social-links a:hover {
  color: #5e8edb;
}

li span:hover {
  color: #5e8edb;
}

/*
SOBRE
*/

#div-sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 70%;
}

#div-sobre p {
  font-size: 23px;
}

#sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px 20px;
  background-color: rgb(34, 32, 32);
  color: #f1f1f1;
  height: 500px;
}

#sobre .botao {
  background-color: #f1f1f1;
  color: #4d4d4d;
}

#sobre h2 {
  color: rgb(236, 245, 245);
}

/*
INFORMAÇÕES
*/

#informacoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#informacoes section {
  margin-right: 50px;
  margin-top: 15px;
  color: white;
  font-size: 1.3em;
  margin-left: 20px;
}

#informacoes .formacoes {
  width: 450px;
}

#informacoes .skills {
  width: 300px;
}

.skills h2 {
  text-align: center;
}

.div-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.github-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-stats h2 {
  text-align: center;
}

/*
darkviolet
goldenrod
*/
#informacoes ul {
  display: block;
  margin-inline-start: 2.3em;
  margin-inline-end: 1em;
  padding-inline-start: 10px;
  list-style-type: circle;
}

#informacoes ul li {
  margin-top: 1em;
  color: black;
}

/*
PORTFÓLIO
*/
.projetos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.projetos h2 {
  color: rgb(143, 151, 151);
}

.meus-projetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.meus-projetos * {
  padding-right: 15px;
  margin-top: 15px;
}

/*
CONTATO
*/

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/*
FOOTER
*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(143, 151, 151);
  color: #f1f1f1;
  height: 100px;
}

footer span {
  font-size: 24px;
}

a {
  color: rgb(143, 151, 151);
}

a:link {
  text-decoration: none;
}

#topo {
  color: white;
}

/*
MEDIA QUERIES
*/

/* Corrigir */
@media (max-width: 830px) {
  /*
	CABEÇALHO
	*/
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }

  .social-links a {
    font-size: 1.5rem;
  }

  #div-sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  #div-sobre p {
    font-size: 23px;
  }

  /*
	SOBRE
	*/
  #sobre {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
  }

  /*
	Skills
	*/

  #skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  #skills h2 {
    text-align: center;
    width: 100%;
  }

  #skills div {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
  }

  #imgCoracao {
    margin-top: 90px;
  }

  .github-stats {
    padding: 20px 20px 20px;
    width: 100%;
  }

  .github-stats img {
    width: 80%;
  }

  .github-stats div {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .projetos {
    width: 100%;
    padding: 20px 20px 20px;
  }

  /*
	PORTFÓLIO
	*/
  .meus-projetos * {
    padding-right: 0px;
    margin-top: 0px;
  }

  .meus-projetos div {
    display: flex;
    justify-content: center;
  }

  footer {
    width: 100%;
    padding: 20px 20px 20px;
  }
}

/* Corrigir */
@media (max-width: 350px) {
  body {
    width: 360px;
  }
}
